body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 20px;
    background: black;
}

.logo {
    color: red;
}

.banner {
    height: 60vh;
    background: url('images/banner.jpg') center/cover;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.row {
    padding: 20px;
}

.row-posters img {
    width: 200px;
    margin-right: 10px;
    transition: transform 0.3s;
}

.row-posters img:hover {
    transform: scale(1.1);
}
